:root {
  cursor: none;
  --x: 0;
  --y: 0;
  background-color: #fed420;
  overflow: hidden;
  overscroll-behavior: none;
}

#app {
  background-image: url('../img/homer.jpeg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 370px;
  width: 250px;
  transform: translateX(var(--x)) translateY(var(--y)) scaleX(-1);
  transition: ease;
}

h1, h2 {
  font-family: Lato;
}